body {
    background-color: rgb(247, 236, 207);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(135, 233, 240);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.flexcont {
    display: flex;
    background-color: rgb(184, 245, 207);
    column-gap: 20px;
    align-items: stretch;
    align-self: auto;
}
  
.flexcont > a {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.gridcont {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #ee9393;
    padding: 10px;
}

.gridcont > a {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    justify-self: center;
}

a[target="_important"] {
    background-color: rgb(247, 218, 199);
  }

/* This is the miscellaneous heading section not in use
#miscellaneous {
    color: green;
}*/

h1 {
    text-decoration: underline wavy orangered;
    text-align: center;
}

h2.date {
    color: rgb(57, 100, 68);
}

h3 + h4 {
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-top-right-radius: 10% 25%;
    margin: auto;
    max-width: 500px;
}

ol + h4 {
    border-width: 1px;
    border-style: solid;
    border-color: rebeccapurple;
    border-top-right-radius: 10% 25%;
    margin: auto;
    max-width: 500px;
}

ol ~ h4 {
    color: hsl(34, 85%, 46%);
}

.containerVideo {
    border: 1px solid #333333;
    padding: 20px;
}

h5.video {
    position: fixed;
    left: 2px;
    min-width: 500px;
    color: rebeccapurple;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 2em;
    border-top-right-radius: 15% 25%;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: -2px;
    margin-left: -2px;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 4em;
}

.containerAudio {
    border: 1px solid #333333;
    padding: 20px;
    height: 100px;
}

h5.audio {
    position: static;
    color: blue;
    width: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 2em;
    border-top-right-radius: 15% 25%;
    margin: 2px 2px -2px -2px;
    padding: 0 30px 40px 4em;
}

p > b {
    font-size: 1.5em;
    color: #441315;
    display: inline;
}

ol.names li {
    font-size: 1.3rem;
}

li, b {
    width: 50vw;
}

.nextWork li i {
    font-size: 15pt;
}

p.tldr {
    font-size: 4mm;
}

b.number {
    display: block;
}
/*
.miscList li i {
    font-size: 20px;
}
*/

#brainstorming_pictures {
    
    color: rgb(88, 170, 20);
}

button:hover {
    color: purple;
}

button:active {
    color: greenyellow;
}