body {
    background-color: rgb(247, 236, 207);
}

/* This is the miscellaneous heading section */
#miscellaneous {
    color: green;
}

h2.date {
    color: rgb(57, 100, 68);
}

#agenda {
    color: hsl(34, 85%, 46%);
}

p.todo {
    color: #441315;
}

.names li {
    font-size: 1.3rem;
}

.miscList li i {
    font-size: 20px;
}

#brainstorming_pictures {
    font-size: 1.3em;
    color: rgb(88, 170, 20);
}