body {
    background-color: rgb(247, 236, 207);
}

/* This is the miscellaneous heading section */
#miscellaneous {
    /*color: green;*/
}

h2.date {
    color: rgb(57, 100, 68);
}

h4 {
    color: hsl(34, 85%, 46%);
}

h3 ~ h5 {
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
    
}

p > b {
    font-size: 1.5em;
    color: #441315;
}

.names li {
    font-size: 1.3rem;
}

li, b {
    width: 50vw;
}

.nextWork li i {
    font-size: 15pt;
}

p.tldr {
    font-size: 4mm;
}

.miscList li i {
    /*font-size: 20px;*/
}

#brainstorming_pictures {
    
    color: rgb(88, 170, 20);
}